<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap">
    <link rel="stylesheet" href="/css/styles.css">
    <title>The Lutra Car Garage</title>
    <h1 class="site-title">
    The <span class="brand-accent">Lutra</span> Car Garage
    </h1>

</head>
