<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> <br>
<body>
     <a href="/login" id="topLogin">Log in</a>

  <h2 id="signupTitle">Create your account</h2>
  <p id="signupSubtitle">Save and browse all the cars you've ever owned.</p>

  <form method="POST" action="/signup">

    <label for="username">Username</label> 
    <input type="text" id="username" name="username" placeholder="your_username" required> 

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="you@example.com" required> 

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Create a password" required> 

    <label for="confirmPassword">Confirm password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repeat your password" required> 

 <% if (typeof error !== "undefined") { %>
  <p id="signupError"><%= error %></p>
<% } %>
  
    <br> <br>
    <button type="submit" id="signupBtn">Sign up</button>
    <a href="/login" id="backToLogin">Back to login</a>

  </form>


    <%- include("partials/footer.ejs") %>
</body>
</html>